# Gradle
.gradle/
build/
*out*

# IDEA
.idea/

# Allow gradle wrapper
!*gradle-wrapper.jar

# Let's not leak my jxbrowser license
/gradle/lib/license.jar

# Let's not leak company documents
/src/main/resources/com/sxtanna/bby/jfx/docs/docs.korm

# Let's move my info from the actual program
/src/main/resources/com/sxtanna/bby/jfx/docs/info.korm